*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#111827;
    font-family:Arial,sans-serif;
}

.equalizer{
    display:flex;
    align-items:flex-end;
    gap:8px;
    height:120px;
}

.equalizer span{
    width:12px;
    height:35px;
    background:linear-gradient(to top,#06b6d4,#3b82f6);
    border-radius:8px;
    animation:equalize 1s ease-in-out infinite;
}

.equalizer span:nth-child(2){
    animation-delay:.15s;
}

.equalizer span:nth-child(3){
    animation-delay:.3s;
}

.equalizer span:nth-child(4){
    animation-delay:.45s;
}

.equalizer span:nth-child(5){
    animation-delay:.6s;
}

@keyframes equalize{

    0%,100%{
        height:30px;
    }

    50%{
        height:110px;
    }
}