:root {
    --game-speed: 4s;
    --jump-height: -60px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111827;
    font-family: Arial, sans-serif;
  }
  
  .game-container {
    text-align: center;
    color: white;
  }
  
  .game-area {
    width: 350px;
    height: 450px;
    margin: 25px auto;
    background: linear-gradient(#38bdf8, #22c55e);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border: 4px solid white;
  }
  
  .road {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    background: #444;
  }
  
  .road::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background: white;
    left: 50%;
    animation: roadMove 1s linear infinite;
  }
  
  .player {
    position: absolute;
    bottom: 90px;
    left: 50%;
    font-size: 55px;
    transform: translateX(-50%);
    animation: jump 1s infinite ease-in-out;
  }
  
  .obstacle {
    position: absolute;
    bottom: 90px;
    right: -60px;
    font-size: 50px;
    animation: obstacleMove var(--game-speed) linear infinite;
  }
  
  .coin {
    position: absolute;
    font-size: 35px;
    animation: coinMove 5s linear infinite;
  }
  
  .coin1 {
    top: 80px;
    left: 120px;
  }
  
  .coin2 {
    top: 150px;
    left: 220px;
    animation-delay: 2s;
  }
  
  
  .start-btn {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background: #facc15;
    font-size: 18px;
    cursor: pointer;
  }
  
  
  /* Animations */
  
  @keyframes jump {
  
    0%,100% {
      transform: translateX(-50%) translateY(0);
    }
  
    50% {
      transform: translateX(-50%) translateY(var(--jump-height));
    }
  
  }
  
  
  @keyframes obstacleMove {
  
    from {
      right: -70px;
    }
  
    to {
      right: 400px;
    }
  
  }
  
  
  @keyframes coinMove {
  
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
  
    30% {
      opacity: 1;
    }
  
    to {
      transform: translateY(450px);
      opacity: 0;
    }
  
  }
  
  
  @keyframes roadMove {
  
    from {
      transform: translateY(-100px);
    }
  
    to {
      transform: translateY(100px);
    }
  
  }
  
  
  /* Responsive */
  
  @media(max-width:500px){
  
    .game-area {
      width: 90vw;
      height: 420px;
    }
  
  }