@function ease-yiq-contrast($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if $yiq >= 128 {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

@mixin ease-auto-text($bg-color) {
  background-color: $bg-color;
  color: ease-yiq-contrast($bg-color);
}
